/* Clases personalizadas */

body {
    background-color: #2467C2; /* Color de fondo de la pagina */
}

.footer-custom {
    background-color: #00214D; /* Color de fondo del footer de la pagina */
}

.navbar-custom {
    background-color: #1F50AA; /* Color de fondo del navbar*/
}

.bg-image { /* Imagen de fondo del titulo de la pagina */
    background-size: cover;
    background-position: center;
}

.bg-image-url { /* Imagen de fondo para seccion*/
    background-image: url('../img/sea-86425_1920.jpg');
}

.card-custom { /* Tamaño personalizado para cards*/
    height: 400px;
}

.bg-section2 { /* Seccion de mision, vision y valores*/
    background-size: cover;
    background-position: center;
    background-color: #2467C2;
}

.bg-section3 { /*Seccion informativa sobre los animales de tabasco*/
    background-size: cover;
    background-position: center;
    background-color: #1F50AA;
}


/* CCS Especies*/

.esp-sec1 { /*Seccion 1*/
    background-size: cover;
    background-position: center;
    background-color: #1F50AA;
}